{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('index') }}">Home</a>
    <br />
    <br />
    <br />
    {{ form_start(form) }}
    <div class="grid">
        <div class="label">{{ form_label(form.firstName) }}</div>
        <div>
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>

        <div class="label">{{ form_label(form.middleName) }}</div>
        <div>
            {{ form_widget(form.middleName) }}
            {{ form_errors(form.middleName) }}
        </div>

        <div class="label">{{ form_label(form.lastName) }}</div>
        <div>
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>

        <div class="label">{{ form_label(form.address) }}</div>
        <div>
            {{ form_errors(form.address.street) }}
            {{ form_widget(form.address.street) }}
        </div>
        <div class="label"></div>
        <div>
            <button>Submit</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}
